@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  padding: 0;
  margin: 0;
  font-family: var(--raleway);
}

p{
  /* @apply text-[14px] */
}

img{
  @apply object-cover
}

.overlay{
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,1));
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    /* @apply  */
}

.details{
  @apply absolute bottom-0 text-white
}

.click-options > div{
  @apply bg-defaultYellow rounded-full p-3 cursor-pointer
}

.icons{
  @apply flex gap-2 items-center
}

.icons > div{
  @apply w-[50px] h-[50px] rounded-full p-1 text-[20px] border border-gray-400 text-gray-400 flex items-center justify-center cursor-pointer
}

.comment > div > input, .comment > div > textarea{
  @apply bg-gray-200 p-3 resize-none
}

.comment > div{
  @apply flex flex-col gap-2 
}

.actions > div{
  @apply flex gap-2 items-center text-sm text-gray-500
}

.share{
  @apply flex gap-3 text-sm
}

.share > div{
  @apply flex gap-2 items-center
}

.bracket-score{
  @apply text-[12px] text-gray-500 font-[500]
}

.black__overlay{
  background: rgba(0,0,0,0.3);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 998;
  @apply backdrop-blur-sm
}

.settings > div{
  @apply flex items-center justify-between gap-3
}

.settings > div > p{
  @apply text-sm
}

.flex-center{
  @apply flex items-center
}

.flex-all-center{
  @apply flex justify-center items-center
}

.pp{
  @apply rounded-full size-[50px]
}

.categories {
  @apply flex gap-3
}

.categories > p > span {
  @apply text-gray-500
}
.post-select{
  @apply text-xs
}

.post-select > select{
  @apply border p-2 border-black text-xs
}

.comment-action > p{
  @apply cursor-pointer text-xs
}

.ql-container.ql-snow {
  border: none !important;
}

.table-items > div, .table-items > p{
  @apply flex items-center justify-center flex-col text-sm
}

.add > div{
  @apply grid grid-cols-[1fr_2fr]
}

input, select, button{
  @apply text-xs
}


p{
  @apply text-sm
}

/* loader */
/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader {
  width: 30px;
  padding: 4px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #197DDA;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}

p{
  @apply text-[10px]
}


/* Stories carousel btns */

.carousel_btn {
  @apply absolute top-[50%] -translate-y-2/4 cursor-pointer bg-white rounded-full p-1.5 backdrop-blur backdrop-opacity-15 backdrop-filter
}

/* dashboard table */
table {
  @apply bg-white
}

tr {
  @apply text-base
}

tr:nth-child(even) {
  @apply bg-[#F6F8FB]
}

td,th {
  @apply py-5 px-1
}

th {
  @apply text-left
}

td {
  @apply items-start
}